site_name: Rhylthyme Documentation
site_description: Documentation for Rhylthyme - A tool for working with real-time program schedules
site_author: Rhylthyme Team
site_url: https://rhylthyme.github.io/rhylthyme-docs/

# Repository
repo_name: rhylthyme/rhylthyme-docs
repo_url: https://github.com/rhylthyme/rhylthyme-docs
edit_uri: edit/main/docs/

# Theme
theme:
  name: material
  language: en
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye

# Navigation
nav:
  - Home: index.md
  - Getting Started:
    - Installation: installation.md
    - Quick Start: quick-start.md
  - User Guide:
    - Environment Guide: environment-guide.md
    - Examples: examples.md
  - API Reference:
    - CLI Commands: api/cli.md
    - Program Schema: api/schema.md
    - Environment Schema: api/environment-schema.md
  - Development:
    - Contributing: development/contributing.md
    - Architecture: development/architecture.md

# Plugins
plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true
  - minify:
      minify_html: true
  - redirects:
      redirect_maps:
        'installation-guide.md': 'installation.md'
        'quick-start-guide.md': 'quick-start.md'
        'environment-loading-guide.md': 'environment-guide.md'

# Extra
extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/rhylthyme
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/rhylthyme

# Copyright
copyright: Copyright &copy; 2025 Rhylthyme Team

# Markdown extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Extra CSS and JS
extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js